{% extends 'base.html' %}

{% block content %}
<div class="container">
        <h1 class="text-center">Login !!!</h1><br><br>
      
        <div class="container">
                <form class="form-group" action="{% url 'login' %}" method="POST">
                        {% csrf_token %} 
                        User Name: <br>
                        <input class="form-control" type="text" name="username" /><br>
                        Password:<br>
                        <input class="form-control" type="password" name="password" />
                        <br>
                        <span class="text-danger">{{ error }}</span>
                        
                        <input class="btn btn-primary" type="submit" value="Login!" />
                    </form>
        </div>
        

</div>


{% endblock %}